$treeview-spacing: 0.5rem;
$treeview-active-color: #3988DA;
$treeview-inactive-color: #434a58;

.treeview {
  text-align: left;
  display: block;

  .treeview {
    // padding-left: $treeview-spacing*2;
  }
  
  .treeview_container {
    display: block;
    transform: scaleY(0);
    padding-left: $treeview-spacing*2;
    transition: 175ms;
    transform-origin: 50% 0;
  }
  
  label {
    display: block;
    cursor: pointer;
    color: #717780;
    font-weight:  bold;
    // border-bottom: 1px solid #B0B9C5;
    padding: $treeview-spacing $treeview-spacing $treeview-spacing 0;

    &:before {
      width: 1em;
      height: 1em;
      line-height: 1em;
      display: inline-block;
      font-family: 'FontAwesome', sans-serif;
      content: "\f114";
      padding-right: $treeview-spacing;
    }

    &:hover {
      color: $treeview-inactive-color;
      border-bottom-color: $treeview-inactive-color;
    }
  }

  span {
    padding: $treeview-spacing 0 $treeview-spacing 0;
    display: block;
    color: #717780;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #2F3133;
    }
  }

  [type="checkbox"] {
      display: none;

      &:checked + label {
        color: $treeview-active-color;
        border-bottom-color: $treeview-inactive-color;
      }

      &:checked ~ .treeview_container {
        transform: scaleY(1);
      }
  }
}
